# Django and python
*.pyc
__pycache__/
.DS_Store
.vscode/
.pytest_cache/
.venv*/
.env/

# React (Vite)
node_modules/
dist/
.vite/
.pnp.js

# PostgreSQL
db.sqlite3
.pgpass

# Docker Compose volume
recipify_data/

# General
.env*
